<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="https://www.neshastore.com/image/cache/data/csgo-800x325-800x325h.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title>Skins Csgo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Skin ou Pele é um visual alternativo dado a um programa computacional. Dessa forma,
           todo software tem seu visual padrão e pode, se houver um suporte para isso, permitir
            que sua aparência seja alterada por meio de skins pré-construídos. ... O skin normalmente
             é um acessório usado para mudar, variar o visual de um programa.</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
